
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');
body {/*

    font: 16px/26px 'Roboto', Arial, Tahoma, sans-serif;*/
	background: #f7fbff;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    line-height: inherit;
    letter-spacing: -1px;
  }

  h1 {
    font-size: 3em;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0;
  }

  h4 {
    font-size: 18px;
    line-height: normal;
  }

  p {
    font-size: 14px;
    font-weight: normal;/*
    line-height: 25px;*/
  }

  strong {
    font-weight: 600;
  }
.card-body-icon {
	position: absolute;
	z-index: 0;
	top: -1.25rem;
	right: -1rem;
	opacity: 0.4;
	font-size: 5rem;
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg);
}
/*.footer-bottom {
    background: linear-gradient(to bottom left,#228B22, #84bd82);
    min-height: 30px;
    width: 100%;
}*/
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.col-border-right > div {
	border-right: 1px solid;
	border-bottom: 0px;
}
.col-border-right > div:last-child {
	border: 0;
}
.td-padding {
	padding: 10px;
}
.text-remarks::placeholder {
	color: #e83a4b;
}
.col-marg-left {
	padding-left: 140px;
}
.col-marg-right {
	margin-right: 140px;
}
.row div label {
	overflow: hidden;
	text-overflow: ellipsis;
}
.republic {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 10px;
    color: #fff;
}
.blog-thumb {
    background: #ffffff;    
    border: 1px solid rgba(0,0,0,.125);/*
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    text-align: left;
    margin-bottom: 30px;
    height: 250px;
  }

  .media.blog-thumb .media-left {
    width: 45%;
  }

  .blog-thumb small {
    color: #ce3232;
    font-weight: 500;
    display: block;
  }

  .blog-thumb small .fa {
    margin-right: 5px;
  }

  .blog-thumb h4 {
    margin-top: 2px;
    margin-bottom: 0px;
  }

  #blog-detail h2 {
    padding: 25px 0 10px 0;
  }

  .blog-info {
    padding: 35px 25px;
  }

  .blog-info h3 {
    margin: 0;
    padding: 8px 0 6px 0;
    text-transform: capitalize;
  }

  .blog-info .section-btn {
    background: #f0f0f0;
    color: #393939;
    margin-top: 5px;
  }

   .blog-info .section-btn:hover {
    background: #28a745;  /* fallback for old browsers */
    color: #ffffff;
  }

  .blog-thumb ul {
    margin: 32px 12px 22px 0px;
  }

  .blog-thumb ul li {
    list-style: square;
    font-weight: normal;
    padding: 4px 12px 4px 0px;
  }

  .blog-social-share {
    text-align: center;
    padding-top: 22px;
  }

  .blog-social-share .btn {
    border-radius: 100px;
    border: none;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 20px 6px;
    padding: 10px 16px;
  }

  .blog-social-share .btn-primary {
    background: #3b5998;
  }

  .blog-social-share .btn-success {
    background: #1da1f2;
  }

  .blog-social-share .btn-danger {
    background: #dd4b39;
  }

  .blog-social-share a .fa {
    padding-right: 4px;
  }

  .blog-ads {
    background: #f9f9f9;
    border-right: 4px solid #2b2b2b;
    padding: 42px;
    text-align: center;
    margin: 26px 0 26px 0;
  }

  .blog-ads h4 {
    font-size: 18px;
  }
  .section-title {
    margin-bottom: 60px;
  }

  .section-title h2 {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 0;
  }

  .section-title .line-bar {
    color: #d9d9d9;
    display: block;
    font-size: 5em;
    line-height: 0;
  }




/*.republic > p {
  margin: 0;
}*/

.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#fff; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#fff;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #fff; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
.marginbottom-md > div {
	margin-bottom: 0px;
}
.box {
    background: #eee;
    border-radius: 15px;
    box-shadow: 0 2px 5px 3px #ddd;
    min-height: 30vh;
    padding: 40px;
	position: relative;
    width: 40vw;
}
.box-title {
    color: #ff9800;
    font-family: Impact, Tahoma, Arial, sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 100px;
    text-align: center;
}
.wizard {
    display: block;
    text-align: center;
}
.wizard-step {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0 30px;
    position: relative;
    width: 40px;
}
.wizard-step:after {
    border-top: 4px solid #ccc;
    content: "";
    left: 44px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) ;
    width: 56px;
    z-index: 1;
}
.wizard-step:last-child:after {
    display: none;
}
.wizard-step.past:after {
    border-color: #ff9800;
}
.wizard-step-child {
    color: #333;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    position: relative;
    width: 40px;
    z-index: 2;
}
.wizard-step-child:before {
    border-left: 3px solid #ccc;
    border-radius: 15% / 50%;
    border-right: 3px solid #ccc;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(45deg);
    z-index: 1;
}
.wizard-step-child:after {
    border-bottom: 3px solid #ccc;
    border-radius: 50% / 10%;
    border-top: 3px solid #ccc;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(45deg);
    z-index: 2;
}
.wizard-step.past .wizard-step-child:before,
.wizard-step.past .wizard-step-child:after,
.wizard-step.active .wizard-step-child:before,
.wizard-step.active .wizard-step-child:after {
    border-color: #ff9800;
}
@media only screen and (max-width: 767px) {
    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }
    .hide-div {
        display: none;
    }
    .col-border-right > div {
        border-right: 0px !important;
        border-bottom: 1px solid !important;
    }
    .col-border-right > div:last-child {
        border-right: 0px !important;
        border-bottom: 0px !important;
    }
    .col-hide-div {
        display: none;
    }
    .col-marg-left {
        padding-left: 0px !important;
    }
    .col-marg-right {
        margin-right: 0px !important;
    }
    .marginbottom-md > div {
        margin-bottom: 20px !important;
    }
    .marginbottom-md > div:last-child {
        margin-bottom: 0px !important;
    }

    .container {
      max-width: 1540px;
      padding-left: 20px;
      padding-right: 20px;
    }
}
@media only screen and (max-width: 450px) {
    .republic {
        display: none !important;
    }
}
@media only screen and (max-width: 200px) {
    .navbar-brand div > div > img {
        display: none !important;
    }
    .navbar-brand div > div:first-child {
        height: 90px;
    }
}
@media print {
    nav {
        display: none !important;
    }
    .hideDiv {
        display: none !important;
    }
    .card, .card-header, .card-body, .card-footer {
        border: 0 !important;
        border: none !important;
    }
}



.upd-text-title{
  color: #757575;
  font-size: smaller;
}
.upd-text-info{
  border-bottom: 1px solid #757575;
  font-weight: bold;
}
